
mobile_app/.gradle/3.3/taskArtifacts/fileHashes.bin

mobile_app/.gradle/3.3/taskArtifacts/fileHashes.bin

mobile_app/.gradle/3.3/taskArtifacts/fileSnapshots.bin

mobile_app/.gradle/3.3/taskArtifacts/taskArtifacts.bin

mobile_app/.gradle/3.3/taskArtifacts/taskArtifacts.lock

mobile_app/.idea/.name

mobile_app/.idea/libraries/android_android_25.xml

mobile_app/.idea/libraries/espresso_core_2_2_2.xml

mobile_app/.idea/libraries/espresso_idling_resource_2_2_2.xml

mobile_app/.idea/libraries/exposed_instrumentation_api_publish_0_5.xml

mobile_app/.idea/libraries/rules_0_5.xml

mobile_app/.idea/libraries/runner_0_5.xml

mobile_app/.idea/misc.xml

mobile_app/.idea/runConfigurations.xml

mobile_app/.idea/workspace.xml

mobile_app/app/app.iml

mobile_app/local.properties
